.hidden {
  display: none;
}

.js-video-container {
  position: relative;
}

.js-video-lightbox {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 50vw;
  height: 30vw;
  background-color: black;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  padding: 30px;
  margin: 20px;
}

.js-search-results {
  margin: 20px 10px;
  padding: 20px;
}

.result {
  width: 500px;
  height: 175px;
  padding: 10px;
  margin-top: 20px;
  background-color: whitesmoke;
}

.video-result {
  border: 3px solid purple;
}

.channel-result {
  border: 3px solid yellow;
}

.playlist-result {
  border: 3px solid aqua;
}

img {
  float: left;
  margin-right: 10px;
}

.tooltip {
  position: relative;
  display: inline-block;
  z-index: 3;
 }

.tooltiptext {
  margin: 1px solid red;
  /* display: none; */
  visibility: hidden;
  position: absolute;
  width: 200%;
  font-size: 75%;
  background-color: rgba(0, 0, 0, 0.35);
  color: white;
  text-align: right;
  padding: 5px;
  border-radius: 15px 15px 0 15px;
  bottom: 90%;
  right: 100%;
  z-index: 3;
 }
 
 .tooltip:hover .tooltiptext {
    visibility: visible;
 }

